<div class="container">
    <h1>{{washingtonData?.name}}</h1>
    <hr class="my-4">
    <div class="row mt-5">
      <div class="col-4">
        <table class="table table-dark">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th>Humidity</th>
              <td>{{washingtonData?.main?.humidity}}</td>
            </tr>
            <tr>
              <th>Temperature</th>
              <td>{{washingtonData?.main?.temp}}</td>
            </tr>
            <tr>
              <th>High</th>
              <td>{{washingtonData?.main?.temp_max}}</td>
            </tr>
            <tr>
              <th>Low</th>
              <td>{{washingtonData?.main?.temp_min}}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{washingtonData?.weather[0]?.main}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-8">
        <img style="width: 500px;" src="https://images.pexels.com/photos/208702/pexels-photo-208702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="washington">
      </div>
    </div>
  </div>
